/** navbar */
nav{
  width: 7%;
  height: 100vh; 
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: rgb(246, 253, 255);
  font-size:15px;
  position: fixed;
  font-family: 'Bodoni Moda', serif;
}


nav ul {
  margin: 0px;
  padding: 0px;
}

nav li{
   
  width: 100%;
}

nav li a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: rgb(0, 0, 0); 
}



