/** navbar */
nav{
  width: 5%;
  border-radius: 0px 29px 29px 0px;
  height: 100vh; 
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: rgb(175, 175, 175);
  font-size:15px;
  position: fixed;
}


nav ul {
  margin: 0px;
  padding: 0px;
}

nav li{
   
  width: 100%;
}

nav li a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: rgb(0, 0, 0); 
}



